# Git
.git

# Env files na raiz
/.env
/.env.local
/.env.*.local

# IDE
.vscode
.idea

# Node modules em cada serviço serão ignorados por seus próprios .dockerignore
**/node_modules
**/.npm
**/npm-debug.log

# Builds em cada serviço
**/dist
**/build
**/.next

# Python
**/venv
**/__pycache__
**/*.pyc

# Logs
**/*.log

# OS
.DS_Store

# Outros
worker-combined
aux
*.md

